/*about and contact page styles*/

.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    max-width: 1000px;
    width: 98%;
}

.page-container > .content-wrapper #us {
    width: 350px;
    margin: 0px 40px 20px -9px;
    float: left;
    border: 1px solid white;
}

.page-container > .content-wrapper p {
    margin-top: 1px;
    margin-bottom: 0px;
    letter-spacing: 1px;
    line-height: 30px;
    text-indent: 48pt;
    word-break: keep-all;
    height: fit-content;
    align-self: center;
}
.about {
    display: grid;
    grid-template-columns: 350px 1fr;
}